*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: url("../images/book3.jpg") no-repeat 0 0;
    background-size: 100%;
}
.z-content{
    width: 300px;
    margin: 100px auto;
}

.z-content p{
    color: #2a2a2a;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}
.z-content p:first-of-type{
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
}
.z-content a{
    display:block;
    float: left;
    margin-top: 30px;
    height: 30px;
    padding:0 20px;
    border: 1px  solid #2a2a2a;
    box-shadow: 0 0 2px #2a2a2a inset;
    color: #2a2a2a;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    font-weight: bold;
}
.z-content a:first-of-type{
    margin-right: 50px;
}
@media all and (min-width: 415px){
    .z-content{
        width: 500px;
        margin-top: 300px;
    }
    .z-content a:last-of-type{
        float: right;
        margin-right: 20px;
    }
    .z-content p:first-of-type{
        line-height: 50px;
    }
}