*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
img{
    border: none;
}
#co{
    color: white;
    font-size: 14px;
    font-weight: bold;
  position: relative;
    top: -7px;
    left: 3px;
}
.book{
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 43%;
    top: 8px;
}
.circle{
    position: absolute;
   right: 0;
    top: 12px;
}
.circle li{
    display:block;
    float: left;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}
.s1{
    width: 100%;
    height: 110px;
    position: relative;
    border-bottom: 1px solid #2eaff1;
    overflow: hidden;
}
.s1 img{
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
}
.s2{
    width: 100%;
    height: 120px;
    position: relative;
}
@media all and (max-width:415px){
     .img1{
        width: 100%;
        height: 120px;
         position: absolute;
    }
}
@media all and (min-width:415px) {
    .img1 {
        height: 120px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -60px;
        margin-left: -150px;
    }
}
.img1 img:nth-child(2){
    animation: star 2s linear infinite alternate;
}
@keyframes star {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
input{
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
    width: 100%;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-bottom: none;
    border-right: none;
    outline: none;
}
#bei{
    text-indent: 50px;
    border-bottom: 1px solid #b3b3b3;
    background: url("../images/yu.png") no-repeat 15px 7px;
}
input:first-of-type{
    text-indent: 50px;
    background: url("../images/person.png") no-repeat 15px 10px;
}
input:nth-child(2){
    text-indent: 50px;
    background: url("../images/phone.png") no-repeat 15px 7px;
}
input:last-of-type{
    text-indent: 0;
    border: none;
    background-color: #2eaff1;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 33;
}
select{
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
    text-indent: 50px;
    width: 100%;
    height: 40px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color:#b3b3b3 ;
    outline: none;
    background: url("../images/xia.png") no-repeat 15px 10px;
}
.zcity{
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
form{
    position: relative;
}
#detail{
  text-indent: 50px;
}
.empty{
    width: 50px;
    height: 50px;
    position: absolute;
    background: white url("../images/location.png") no-repeat 15px 0;
    border: none;
    top: 140px;
}
#pickdate{
    text-indent: 50px;
    background: url("../images/riqi.png") no-repeat 15px 7px;
}
.content{
    width: 100%;
    height: 200px;
}
.content p{
    color: #b3b3b3;
    font-size: 14px;
    line-height: 24px;
}
.content p i{
    display: block;
    width: 14px;
    height: 14px;
    float: left;
    background: url("../images/heart_fill_28.png") no-repeat 0 0;
    position: relative;
    top: 5px;
}
