*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.top{
    width: 100%;
    height: 35px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#co{
    color: white;
    font-size: 14px;
    font-weight: bold;
  position: relative;
    top: -7px;
    left: 3px;
}
.book{
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 43%;
    top: 8px;
}
.circle{
    position: absolute;
   right: 0;
    top: 12px;
}
.circle li{
    display:block;
    float: left;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}
.s1{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #2eaff1;
}
.s2{
    width: 100%;
    height: 120px;
}
input{
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
    width: 100%;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-bottom: none;
    border-right: none;
    outline: none;
}
#bei{
    text-indent: 50px;
    border-bottom: 1px solid #b3b3b3;
    background: url("../images/yu.png") no-repeat 15px 7px;
}
input:first-of-type{
    text-indent: 50px;
    background: url("../images/person.png") no-repeat 15px 10px;
}
input:nth-child(2){
    text-indent: 50px;
    background: url("../images/phone.png") no-repeat 15px 7px;
}
input:last-of-type{
    text-indent: 0;
    border: none;
    background-color: #2eaff1;
    color: white;
    position: fixed;
    bottom: 40px;
    z-index: 33;
}
select{
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
    text-indent: 50px;
    width: 100%;
    height: 40px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color:#b3b3b3 ;
    outline: none;
    background: url("../images/xia.png") no-repeat 15px 10px;
}
.zcity{
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px solid #b3b3b3;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
form{
    position: relative;
}
#detail{
  text-indent: 50px;
}
.empty{
    width: 50px;
    height: 50px;
    position: absolute;
    background: white url("../images/location.png") no-repeat 15px 0;
    border: none;
    top: 140px;
}
footer{
    background-color: white;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 33;
    bottom: 0;
}
footer .left{
    position: absolute;
    left: 20%;
    width: 40px;
    height: 50px;
}
.left img{
    margin-top: 4px;
}
.left p{
    color: #b3b3b3;
    font-size: 12px;
    margin-top: -3px;
    margin-left: 4px;
}
footer .right{
    position: absolute;
    right: 20%;
    width: 60px;
    height: 50px;
}
.right img{
}
.right p{
    font-size: 12px;
    margin-top: -3px;
    margin-left: -10px;
    color: #2eaff1;
}