body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0}
ul,ol,li{list-style:none}
a{
    text-decoration: none;
}
*{
    font-family: "Microsoft YaHei", "微软雅黑";
}
table{border-collapse:collapse;border-spacing:0}
body{
    background-color: #f6f6f6;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(51,51,51);
}
.header-1{
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    background: url("../img/ljjs-header.png") no-repeat right 0;
}
.js-part{
    width: 1002px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    margin-top: 30px;
    background-color: white;
}
.js-part1{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid white;
}
.js-part1-header{
    width: 1000px;
    height: 40px;
    background-color: #ececec;
}
.js-part1-header p{
    line-height: 40px;
    text-indent: 20px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.js-part2{
    margin-left: 20px;
    margin-top: 30px;
    width: 600px;
    height: 280px;
}
.js-part2 h3{
    margin-bottom: 30px;
    font-size: 14px;
    color: #666;
}
.js-part2-content{
    margin-left: 10px;
   margin-bottom: 10px;
    width: 400px;
    height: 30px;
}
.js-part2-content span,.js-part2-content p,.js-part2-content input,.js-part2-content .messge{
    float: left;
    font-size: 14px;
}
.js-part2-content span{
    line-height: 30px;
    color: #9d003f;
}
.js-part2-content p{
    line-height: 25px;
    margin-left: 10px;
    letter-spacing: 3px;
}
.js-part2-content input{
    width: 133px;
    height: 20px;
    margin-left: 15px;
    border: 1px solid #ccc;
}
.messge{
    margin-left: 20px;
    line-height: 25px;
    color: #9d003f;
}
#area select {
    background: transparent;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 10px;
}
#area{
    margin-left: 5px;
    /*border: 1px solid red;*/
}
.js-part2-content1{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 14px;
    width: 500px;
    height: 35px;
}
.js-part2-content1 span,.js-part2-content1 p,.js-part2-content1 #area{
    float: left;
}
.js-part2-content1 span{
    color:#9d003f ;
    line-height: 35px;
}
.js-part2-content1 p{
    line-height: 30px;
    margin-left: 10px;
}
.js-part2-content3{
     margin-left: 10px;
     margin-bottom: 10px;
     width: 500px;
     height: 30px;
 }
.js-part2-content3 span,.js-part2-content3 p,.js-part2-content3 input,.js-part2-content3 .messge{
    float: left;
    font-size: 14px;
}
.js-part2-content3 span{
    line-height: 30px;
    color: #9d003f;
}
.js-part2-content3 p{
    line-height: 25px;
    margin-left: 10px;
}
.js-part2-content3 input{
    width: 290px;
    height: 20px;
    margin-left: 15px;
    border: 1px solid #ccc;
}
.messge{
    margin-left: 20px;
    line-height: 25px;
    color: #9d003f;
}
.js-part2-content4{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 500px;
    height: 30px;
}
.js-part2-content4 span,.js-part2-content4 p,.js-part2-content4 input,.js-part2-content4 .messge{
    float: left;
    font-size: 14px;
}
.js-part2-content4 span{
    line-height: 30px;
    color: #9d003f;
}
.js-part2-content4 p{
    line-height: 25px;
    margin-left: 10px;
}
.js-part2-content4 input{
    width: 133px;
    height: 20px;
    margin-left: 15px;
    border: 1px solid #ccc;
}
.messge{
    margin-left: 20px;
    line-height: 25px;
    color: #9d003f;
}
.js-part2 input[type=submit]{
    width: 110px;
    height: 30px;
    border: none;
    color: white;
    background-color: #9d003f;
    margin-top: 20px;
}
.js-part3{
    margin-left: 20px;
    margin-top: 30px;
    width: 600px;
    height: 180px;
}
.js-part3 h3{
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}
.js-part3 p{
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
}
.js-part3 input[type=submit]{
    width: 110px;
    height: 30px;
    border: none;
    color: white;
    background-color: #9d003f;
    margin-top: 20px;
}

.qd{
    width: 1002px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    margin-top: 10px;
    background-color: white;
}
.qd1{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid white;
}
.qd1-header{
    width: 1000px;
    height: 40px;
    background-color: #ececec;
}
.qd1-header p{
    line-height: 40px;
    text-indent: 20px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.imfor_top div {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #999;
}
.imfor_top{
    width: 1000px;
    height: 40px;
}
.imfor{
    width: 1000px;
    height: 120px;
}
.imfor div {
    color: #999;
    height: 120px;
    font-size: 14px;
    padding-top: 30px;
}
.pudc,.pices,.totle,.num,.adress,.del{
}
.yunfei_top,
.yunfei{
    width: 100px;
    text-align: center;
}
.pices,
.pices_top {
    width: 100px;
    text-align: center;
}

.totle {
    color: red;
}

.num,
.num_top {
    width: 100px;
    text-align: center;
}
.totle,
.totle_top {
    width: 150px;
    text-align: center;
}
.adress_top,
.adress{
    width: 100px;
    text-align: center;
}
.del,
.del_top {
    width: 100px;
    cursor: pointer;
    text-align: center;
}
.imfor_top div,
.imfor div {
    float: left;
}
.pudc,
.pudc_top {
    width: 450px;
    text-indent: 30px;
    text-align: left;
}
.pudc a{
    color: #333;
    text-decoration: none;
}
.pudc a:hover{
    text-decoration: underline;
}
.js-submit{
    background-color: white;
    width: 1000px;
    height: 240px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
.back-shop{
    width: 120px;
    height: 30px;
    border: 1px solid rgb(233,58,56);
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.back-shop a:first-of-type{
    color: rgb(233,58,56);
}
.back-shop:hover{
    border: 1px solid rgb(211,34,32);
}
.back-shop a:first-of-type:hover{
    color: rgb(211,34,32);
}
.num-prise{
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 14px;
    color: #333;
}
.sub-prise{
    position: absolute;
    right: 20px;
    top: 120px;
    font-size: 14px;
    color: #333;
}
.sub-prise p span{
    color: rgb(233,58,56);
    font-size: 28px;
}
.sub{
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: block;
    width: 135px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: rgb(233,58,56);
}
.sub:hover{
    background-color:rgb(211,34,32) ;
}
.bottom-part{
    width: 100%;
    height: 160px;
    margin-top: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.bottom-part1{
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    position: relative;
}
.bottom-part1 ul li{
    float: left;
    font-size: 14px;
    padding-right: 20px;
}
.bottom-part1 ul:first-of-type{
    margin-top: 30px;
}
.bottom-part1 ul:nth-child(3){
    margin-top: 20px;
}
.bottom-part1 ul:last-of-type{
    margin-top: 30px;
    margin-left: 200px;
}
.bottom-part1 ul:last-of-type li{
    color: #666666;
}
.bottom-part1 ul:last-of-type li:first-of-type{
    line-height: 30px;
}
.bottom-part1 ul li a{
    text-decoration: none;
    color: #666666;
}
.bottom-part1 ul li a:hover{
    color: #333;
}
.wx-public{
    position: absolute;
    top:  0;
    right: 0;
}