*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Microsoft YaHei", "微软雅黑", "黑体";
}
img{
    border: none;
}
.T-header{
    width: 100%;
    height: 30px;
    background-color: white;
}

header{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
header ul{
    float: right;
}
header ul li{
    float: left;
    line-height: 30px;
    margin-left: 20px;
    font-size: 12px;
    color: #999999;
}
header ul li:nth-child(4){
    position: relative;
    top: -2px;
}
header ul li:nth-child(8){
    position: relative;
    top: -2px;
}
header ul li a{
    color: #999999;
}
.img1{
    position: relative;
    left: 5px;
    transition: all 0.5s ease;
}
.img2{
    position: relative;
    top:1px;
    left: -2px;
}
header ul li:nth-child(6):hover .show{
    display: block;
}
header ul li:nth-child(6):hover .img1{
    transform: rotate(180deg);
}
.show{
    position: absolute;
    z-index: 2;
    display: none;
    transition: all 1s ease;
}
.show p{
    line-height: 18px;

}
.show p:first-of-type{
    line-height: 24px;
}
header ul li a:hover{
    color: #f47b2b;
}
.T-article{
    width: 100%;
    height: 120px;
    background-color: white;
}
article{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
}
.Seach{
    margin-left: 250px;
    width: 485px;
    height: 35px;
    border: 2px solid #f47b2b;
}
.Seach input{
    float: left;
}
input[type=search]{
    outline:none;
    text-indent: 1em;
    width: 415px;
    height: 35px;
   border: none;
}
input[type=submit]{
    width: 70px;
    height: 35px;
    color: white;
    background-color: #f47b2b;
    border: none;
}
article ul{
    margin-left: 250px;
}
article ul li{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 12px;
}
article ul li a{
    color: #999999;
}
article ul li a:hover{
    color: #f47b2b;
    text-decoration: underline;
}
.img3{
    position: absolute;
    top: -20px;
    left: 0;
}
.img4{
    position: absolute;
    top: 20px;
    right: 0px;
}
.T-nav{
    width: 100%;
    height: 35px;
    background-color: white;
}
nav{
    width: 1200px;
    height: 35px;
    margin: 0 auto;
}
nav ul li{
    position: relative;
    float: left;
    line-height: 35px;
    margin-right: 40px;
    font-size: 14px;
}
nav ul li a{
    color: #333333;
}
nav ul li a:hover{
    color: #f47b2b;
}
nav ul li:first-of-type{
    font-weight: bold;
    display: block;
    width: 180px;
    text-align: center;
    color: white;
    margin-right: 70px;
    background-color: #f47b2b;
}
.img5{
    position: absolute;
    top: -4px;
    left: 26px;
    animation:bTt 0.3s linear infinite alternate;
}
@keyframes bTt {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(2px);
    }
}
.second-menu:hover .nav-1{
    visibility: visible;
}
.nav-1{
    position: absolute;
    z-index: 4;
    width: 180px;
    height: 540px;
    visibility: hidden;
}
.Img6{
    position: relative;
    top: 1px;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}
.second-menu:hover .Img6{
    transform: rotate(-270deg);
}
.nav-1 li{
    text-align: left;
    line-height: 25px;
    text-indent: 20px;
    display: block;
    width: 178px;
    height: 56px;
    position: relative;
}
.nav-1 li h4{
    font-size: 14px;
}
.nav-1 li a{
    color: white;
}
.nav-1 li:first-of-type{
    width: 178px;
    border-right: none;
    text-align: left;
}
.nav-1 li:nth-child(odd){
    background-color: #efa26f;
    border:2px solid #efa26f;
    border-right: none;
}
.nav-1 li:nth-child(even){
    background-color:#f47b2b ;
    border:2px solid #f47b2b;
    border-right: none;
}
.nav-1 li:hover{
    color: #999999;
    background-color: white;
    border: 2px solid #f47b2b;
}
.nav-1 li:hover .menu-table a{
    color:#333333 ;
}
.nav-1 li:hover h4{
    color: #f47b2b;
}
.nav-1 li:hover .None{
    display: block;
}
.menu-table a{
    font-weight: normal;
    margin-right: 15px;
}
.menu-table a:hover{
    text-decoration: underline;
}
.menu-panel{
    width: 385px;
    background-color: white;
    height: 450px;
    border: 2px solid #f47b2b;
    position: absolute;
    left: 178px;
    z-index: 5;
    display: none;
}
.nav-1 li:nth-child(1) .menu-panel{
    top: -2px;
}
.nav-1 li:nth-child(2) .menu-panel{
    top: -58px;
}
.nav-1 li:nth-child(3) .menu-panel{
    top: -116px;
}
.nav-1 li:nth-child(4) .menu-panel{
    top: -174px;
}
.nav-1 li:nth-child(5) .menu-panel{
    top: -156px;
}
.nav-1 li:nth-child(6) .menu-panel{
    top: -216px;
}
.nav-1 li:nth-child(7) .menu-panel{
    top: -276px;
}
.nav-1 li:nth-child(8) .menu-panel{
    top: -336px;
}
.nav-1 li:nth-child(9) .menu-panel{
    top: -396px;
}
.None{
    position: absolute;
    width: 20px;
    height: 56px;
    left: 170px;
    top: 0px;
    background-color: white;
    z-index: 6;
    border-right: none;
    display: none;
}
.menu-panel-fl h4{
    color:#f47b2b ;
}
.menu-panel-fl{
    margin-left: 20px;
}
#sub-group{
    margin-left: 20px;
}
#sub-group a{
    padding-right: 10px;
    margin-left: 0px;
    color: #333333;
    font-weight: normal;
    margin-right: 0px;
    font-size: 12px;
}
#sub-group a:hover{
    color: red;
    text-decoration: underline;
}
.T-decrible{
    width: 100%;
    height: 160px;
    background-color: white;
}
.decrible{
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    margin-top: 30px;
}
.decrible div{
    float: left;
    margin-right: 135px;
}
.decrible div:last-of-type{
    margin-right: 0;
}
.decrible div ul li{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.decrible div ul li a{
    color: #999999;
}
.decrible div ul li a:hover{
    color: #f47b2b;
}
.decrible div ul li:first-of-type{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    line-height: 50px;
}
.Heng{
    width: 100%;
    height: 40px;
    background-color: #f47b2b;
}
.H-1{
    width: 1000px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}
.H-1 li{
    float: left;
    display: block;
    height: 40px;
    width: 150px;
    margin-right: 100px;
}
.H-1 li p{
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-left: 42px;
}
.H-1 li p:first-of-type{
    margin-top: 2px;
}
.H-1 li:nth-child(1){
    background: url("../img/h1.jpg") no-repeat 0 0;
}
.H-1 li:nth-child(2){
    background: url("../img/h2.jpg") no-repeat 0 0;
}
.H-1 li:nth-child(3){
    background: url("../img/h3.jpg") no-repeat 0 0;
}
.H-1 li:nth-child(4){
    background: url("../img/h4.jpg") no-repeat 0 0;
}
.p-last{
    width: 100%;
    background-color: #ededed;
}
footer{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.Last-1{
    width: 410px;
    height: 30px;
}
.Last-1 li{
    line-height: 30px;
    font-size: 14px;
    color: #999999;
    float: left;
    text-align: center;
    margin-right: 20px;
}
.Last-1 li a{
    color: #999999;
}
.Last-1 li a:hover{
    color: #f47b2b;
}
footer p{
    line-height: 25px;
    color: #999999;
    font-size: 14px;
}
.Last-2{
    width: 700px;
    height: 40px;
    margin-top: 10px;
}
.Last-2 li{
    float: left;
    margin-right: 20px;
}
.Last-2 li img{
    width: 108px;
    height: 40px;
}
.fullscreen1{
    width: 420px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 33;
    margin-left: -210px;
    margin-top: -100px;
    border: 2px solid white;
    background-color: white;
    display: none;
}
.f-header{
    width: 420px;
    height: 40px;
    position: relative;
    background-color: #f47b2b;
}
.f-header p{
    line-height: 40px;
    text-indent: 10px;
    color: white;
}
.f-header span{
    font-size: 24px;
    color: white;
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
}
.f-content{
    width: 420px;
    height: 100px;
    margin-top: 40px;
}
.f-content p{
    text-align: center;
    color: #f47b2b;

}
.f-content a{
    font-size: 14px;
    display: block;
    width: 130px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
}
.f-content a:first-of-type{
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 30px;
    background-color:rgb(233,58,56) ;
    color: white;
}
.f-content a:first-of-type:hover{
    background-color: rgb(211,34,32);
}
.f-content a:last-of-type{
    margin-top: 30px;
    background-color: rgb(237,237,237);
    color: #333;
}
.f-content a:last-of-type:hover{
    background-color: rgb(204,204,204);
}