body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0}
ul,ol,li{list-style:none}
*{
    font-family: "Microsoft YaHei", "微软雅黑";
}
table{border-collapse:collapse;border-spacing:0}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(51,51,51);
}
body{
    background-color: #f6f6f6;
}
.header-1{
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    background: url("../img/shopcar-header.png") no-repeat right 0;
}
.imfor_top div {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #ececec;
    color: #999;
}
.imfor_top{
    width: 1000px;
    height: 40px;
}
.imfor{
    width: 1000px;
    height: 120px;
    background-color: white;
    border-bottom: 1px solid #ececec;
}
.imfor div {
    height: 120px;
    font-size: 14px;
}
.check,.pices,.totle,.num,.adress,.del{
    line-height: 120px;
}
.check,
.check_top {
    width: 100px;
}
.pudc,
.pudc_top {
    width: 400px;
}
.pudc img{
    width: 80px;
    height: 80px;
    border: 1px solid #cccdcd;
    float: left;
    margin-top: 20px;
}
.pudc span{
    float: left;
    margin-top: 40px;
    margin-left: 10px;
}
.pices,
.pices_top {
    width: 100px;
}

.totle {
    color: red;
}

.num,
.num_top {
    width: 100px;
}

.num input {
    width: 40px;
    height: 17px;
    text-indent: 13px;
    border:1px solid #e5e5e5 ;
    border-right: none;
    border-left: none;
}

.num span {
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    cursor: pointer;
}

.totle,
.totle_top {
    width: 100px;
}
.adress_top,
.adress{
    width: 100px;
}
.del,
.del_top {
    width: 100px;
    cursor: pointer;
}
.imfor_top div,
.imfor div {
    float: left;
    text-align: center;
}
#box{
    width: 100%;
    background-color: #f6f6f6;
}
#content_box {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}
.foot{
    width: 1000px;
   height: 160px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    position: relative;
    border:1px solid #ececec ;
}
.foot_del{
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 12px;
}
.foot_del img{
    position: relative;
    top: 5px;
}
.goshop{
    display: block;
    width: 80px;
    height: 25px;
    border: 1px solid rgb(233,58,56);
    color:rgb(233,58,56) ;
    position: absolute;
    bottom: 30px;
    left: 35px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
}
.goshop:hover{
    border: 1px solid rgb(211,34,32);
    color: rgb(211,34,32);
}
.foot_tol{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 12px;
}
#susum{
    font-size: 28px;
    color: red;
}
.ljjs{
    text-decoration: none;
    width: 140px;
    height: 40px;
    background-color: rgb(211,34,32);
    color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.bottom-part{
    width: 100%;
    height: 160px;
    background-color: #f6f6f6;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.bottom-part1{
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    position: relative;
}
.bottom-part1 ul li{
    float: left;
    font-size: 14px;
    padding-right: 20px;
}
.bottom-part1 ul:first-of-type{
    margin-top: 30px;
}
.bottom-part1 ul:nth-child(3){
    margin-top: 20px;
}
.bottom-part1 ul:last-of-type{
    margin-top: 30px;
    margin-left: 200px;
}
.bottom-part1 ul:last-of-type li{
    color: #666666;
}
.bottom-part1 ul:last-of-type li:first-of-type{
    line-height: 30px;
}
.bottom-part1 ul li a{
    text-decoration: none;
    color: #666666;
}
.bottom-part1 ul li a:hover{
    color: #333;
}
.wx-public{
    position: absolute;
    top:  0;
    right: 0;
}